@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
    background: #e5ecea;
    width: 100%;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
}
body{
    margin:0;
    padding:0;
    height:100%;
}

#header{
    position: fixed;
    background: #F4F7F6;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 80px;
}
#content{
    padding-top: 100px;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: left;
}

.logo{
    width:146px;
    height:78px;
    padding: 2px;
    bottom: 0px;
    left: 0px;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 80px;
}

li {
    font-size: 22px;
    width: 130px;
    padding-top: 14px;
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}

h1 {
    text-align: center;
}

h3 {
    font-weight: normal;
}

.bottom {
    height: 30px;
    width: 100%;
    background-color: #222222;
    transition-duration: .1s;
    transform: translate(0,1px);
}

.active{
    background-color: #D3D3D3;
}
a:hover + .bottom{
    transition-duration: .5s;
    transform: translate(0,-12px);
}

.bar{
    height: 2px;
    background:gainsboro;
}

.title{
    text-align: center;
    font-size: 32px;
}

.subtitle{
    text-align: center;
    font-size: 24px;
}

.wanker{
    font-size: 18px;
}
table a{
    text-decoration: none;
    color: black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
    /* background-color: #F4F7F6; */
}

tr:nth-child(even) {
    background-color: #C0C0C0;
}

th {
    background-color: #F8F7F6;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

#emailText {
    font-size: 5vw;
}