html {
    background: #F4F7F6;
    width: 100%;
}
body{
    margin:0;
    padding:0;
    height:100%;
}

#header{
    position: fixed;
    background: #F4F7F6;
    left: 10px;
    top: 0px;
    right: 10px;
    height: 70px;
}
#content{
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: left;
    font-family: 'Roboto Slab', serif;
}

/*
#footer{
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    text-align: center;
}
*/

.logo{
    width:92px;
    height:92px;
    padding: 4px;
    bottom: 0px;
    left: 0px;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top:30px;
    height: 70px
}
li {
    float: right;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 60px 20px 10px 20px;
    text-decoration: none;
}

h1 {
    text-align: center;
}

h3 {
    font-weight: normal;
}

.bottom {
    height: 15px;
    width: 100%;
    background-color: #101010;
    transition-duration: .1s;
    transform: translate(0,12px)
}
.active{
    background-color: #D3D3D3;
}
a:hover + .bottom{
    transition-duration: .5s;
    transform: translate(0,0px)
}

.bar{
    height: 2px;
    background:gainsboro;
}

.title{
    text-align: center;
    font-size: 32px;
}

.subtitle{
    text-align: center;
    font-size: 24px;
}

.wanker{
    font-size: 18px;
}
table a{
    text-decoration: none;
    color: black;
}
