html {
    background: #F4F7F6;
    background-image: linear-gradient(0deg, #FFFFFF, #F4F7F6);
    height: 100%;
    width: 100%;
    min-height: 100%;
}
#header{
    position: absolute;
    left: 10px;
    top: 0px;
    right: 10px;
    height: 100px;
}
#footer{
    position: absolute;
    right: 10px;
    bottom: 0px;
    left: 10px;
    text-align: center;
}
.logo{
    width:92px;
    height:92px;
    padding: 4px;
    bottom: 0px;
    left: 0px;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100px
}
li {
    float: right;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 60px 20px 10px 20px;
    text-decoration: none;
}
.bottom {
    height: 15px;
    width: 100%;
    background-color: #000000;
    transform: translate(0,12px)
}
.active + .bottom{
    transform: translate(0,0px)
}
a:hover + .bottom{
    transition-duration: .5s;
    transform: translate(0,0px)
}
.bar{
    height: 2px;
    background:gainsboro;
}
#content{
    padding-top: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}
