/*
* {
	margin: 0;
	padding: 0;
	border: 0;
}
.text_title {
	text-align: left;
	font-size: 370%;
	color: rgba(255, 255, 255, .2);
	letter-spacing: 1%;
	margin: 0 0 0 0;
	padding-top: 0;
	padding-bottom: 20%;
	background-color: transparent;
	position: relative;
	z-index: 1;
	width: 30%;
	height: 5px;
	vertical-align: top;
	font-family: "Arial", Times, serif;
	

}
.body1 {
	text-align: center;
	font-size: 370%;
	color: rgba(0, 0, 0, 0.0);
	text-transform: uppercase;
	letter-spacing: 1%;
	margin: 0 0 0 0;
	background: url("http://i.imgur.com/kHUdvKH.jpg") no-repeat 100%;
	padding-top: 20%;
	padding-bottom: 20%;
	background-size: cover;
	background-position: center center;
	position: absolute;
	z-index: 0;
	
	

	
}
.text_title:hover {
	text-align: left;
	font-size: 370%;
	color: rgba(255, 255, 255, 1);
	letter-spacing: 1%;
	margin: 0 0 0 0;
	padding-top: 0;
	padding-bottom: 20%;
	background-color: transparent;
	position: relative;
	z-index: 1;
	width: 30%;
	height: 5px;
	vertical-align: top;
	font-family: "Arial", Times, serif;
}
h2 {
	text-align: center;
	font-size: 275%;
	color: #E5E5E5;
	text-transform: uppercase;
	letter-spacing: 20%;
	margin: 1%;
	font-family: "Arial", Times, serif;
	
}
span {
	vertical-align: middle;
}

/*---Start Parallax---*/
.parallax {
	background: url("http://i.imgur.com/pRnucMs.jpg") repeat fixed 100%;
}
.parallax-inner {
	padding-top: 50%;
	padding-bottom: 20%;
}



/*---End Parallax---*/

.body2 {
	text-align: center;
	font-size: 270%;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1%;
	margin: 0 0;
	background: url("http://i.imgur.com/NBVhCdv.jpg") repeat 100%;
	padding-top: 25%;
	padding-bottom: 25%;
	font-family: "Arial", Times, serif;
}

*/

.body1 {
  
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 2rem;
  background-image: url("https://img.buzzfeed.com/buzzfeed-static/static/2015-10/27/17/enhanced/webdr07/longform-24536-1445980295-3.jpg");
  background-size: cover;
  background-size: auto auto;
  color: #102118;
  
}

.body1 {
	animation: blinker 0.1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

.meme1 {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    animation:spin 1s linear infinite;
}
@keyframes spin { 100% { transform: rotate(360deg);


